In [19]:
#import needed libraries
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn import preprocessing

In [3]:
#import csv file and saving into data set
df  = pd.read_csv("https://github.com/mpourhoma/CS4661/raw/master/Credit.csv")
df

      Income  Limit  Rating  Cards  Age  Education  Married  Balance
0     14.891   3606     283      2   34         11        1      333
1    106.025   6645     483      3   82         15        1      903
2    104.593   7075     514      4   71         11        0      580
3    148.924   9504     681      3   36         11        0      964
4     55.882   4897     357      2   68         16        1      331
..       ...    ...     ...    ...  ...        ...      ...      ...
395   12.096   4100     307      3   32         13        1      560
396   13.364   3838     296      5   65         17        0      480
397   57.872   4171     321      5   67         12        1      138
398   37.728   2525     192      1   44         13        1        0
399   18.701   5524     415      5   64          7        0      966

[400 rows x 8 columns]

In [4]:
#creating python list of features from data frame
features = ['Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education', 'Married']
#using python list of features to select which features to use
X = df[features]
#print matrix for my reference
X

      Income  Limit  Rating  Cards  Age  Education  Married
0     14.891   3606     283      2   34         11        1
1    106.025   6645     483      3   82         15        1
2    104.593   7075     514      4   71         11        0
3    148.924   9504     681      3   36         11        0
4     55.882   4897     357      2   68         16        1
..       ...    ...     ...    ...  ...        ...      ...
395   12.096   4100     307      3   32         13        1
396   13.364   3838     296      5   65         17        0
397   57.872   4171     321      5   67         12        1
398   37.728   2525     192      1   44         13        1
399   18.701   5524     415      5   64          7        0

[400 rows x 7 columns]

In [13]:
#normalize the data
scale_X = preprocessing.scale(X)

scale_X

array([[-0.86158299, -0.48999879, -0.46553881, ..., -1.2576741 ,
        -0.78492991,  0.79539491],
       [ 1.72743711,  0.82826106,  0.82870309, ...,  1.5284506 ,
         0.49658831,  0.79539491],
       [ 1.68675551,  1.01478681,  1.02931059, ...,  0.88996369,
        -0.78492991, -1.25723711],
       ...,
       [ 0.35946155, -0.24491264, -0.21963285, ...,  0.65778663,
        -0.46455035,  0.79539491],
       [-0.21280808, -0.95891584, -1.05441888, ..., -0.67723146,
        -0.1441708 ,  0.79539491],
       [-0.75334493,  0.34199278,  0.38866085, ...,  0.48365384,
        -2.06644812, -1.25723711]])

In [6]:
#selecting label from data frame, in this case we will use 'Balance'
y = df['Balance']
y

0      333
1      903
2      580
3      964
4      331
      ...
395    560
396    480
397    138
398      0
399    966
Name: Balance, Length: 400, dtype: int64

In [22]:
#importing library to split the data
from sklearn.model_selection import train_test_split
#spliting the data with a test size of 24% and a traning size of 76%
X_train, X_test, y_train, y_test = train_test_split(scale_X, y, test_size = 0.24, random_state = 9)

In [23]:
#creating LR object
linreg = LinearRegression()
#fitting model to training data
linreg.fit(X_train, y_train)

LinearRegression()

In [24]:
# printing Theta0 using attribute "intercept_":
print(linreg.intercept_)

# printing [Theta1, Theta2, Theta3] using attribute "coef_":
print(linreg.coef_)

520.0391034603759
[-264.69553256  360.5601294   252.73642988   24.91707959  -17.23897686
   11.65810466   -9.82859046]

# Which feature is the most important? 
    Limit

# Which feature is the least important?
    Income

In [25]:
# make predictions on the testing set
y_prediction = linreg.predict(X_test)

print(y_prediction)

[ 316.89813114  677.5093907   489.03669272  -49.82989971  706.42913216
  864.96954115  897.65752581  108.20297732 -213.73474279  834.94198677
   11.05109139 -227.34447869  472.01450822    4.54554458 -228.17349827
  956.21537845  896.91570524  821.97824267   18.37144232  857.31517013
 1028.30326279  699.22168497 1176.9426756   666.28578465  643.94064891
  690.63628696  589.35273903  -29.37237394  575.15444917  406.78468032
  845.81453327  828.30862904   82.2376206   953.40592514 -184.74828227
  525.84335889 1045.19205022  535.04104472  107.26753118 -172.8968111
  497.84037664 1155.35533939  429.08674601  403.49872552  143.72087313
  764.78737012  431.24114308 1304.79656588  475.00132057   95.75404622
 -215.69000296    5.62900657  313.88797405  859.9328932   792.27147016
 1029.90210771 1500.40180297 1078.48617624  713.37981473 1072.97948262
  -64.12187718  488.60063387   92.3601712   440.414465    277.13284667
 1075.41508762  258.10181743  773.89657462  278.12447916  409.51029492
  335.56674013  989.87781589  978.31940615 1042.6230052   915.82319179
  150.95645254  516.7089988   733.47654088   74.84330655  556.47429962
 1096.60831626  359.12494251  204.54562103  407.76115868  113.50656023
  958.07237887  934.59051997    2.98452112 1627.80317193  636.31395153
  688.17824441  711.80910955  293.66354104 -219.28997401  -91.76701391
 -149.31642723]

In [31]:
from sklearn import metrics
import numpy as np

# Calculating "Mean Square Error" (MSE):
mse = metrics.mean_squared_error(y_test, y_prediction)

# Using numpy sqrt function to take the square root and calculate "Root Mean Square Error" (RMSE)
rmse = np.sqrt(mse)

print(rmse)

143.24649739642265

In [27]:
# importing the method:
from sklearn.model_selection import cross_val_score

In [28]:
# Applying 10-fold cross validation with "linear regression":

my_linreg = LinearRegression()

mse_list = cross_val_score(my_linreg, X, y, cv=10, scoring='neg_mean_squared_error')

print(mse_list)

[-23646.90415342 -32003.04401232 -35462.64435619 -37327.60719635
 -14341.32205938 -33628.37104224 -31631.99317834 -12491.00334951
 -20749.61212176 -23204.9474346 ]

In [29]:
#make mse list positive
mse_list_positive = -mse_list

# using numpy sqrt function to calculate rmse:
rmse_list = np.sqrt(mse_list_positive)
print(rmse_list)

[153.7754992  178.89394627 188.31527914 193.20353826 119.75525901
 183.38039983 177.85385343 111.76315739 144.04725656 152.331702  ]

In [30]:
# calculate the average RMSE as final result of cross validation:
print(rmse_list.mean())

160.33198910744073